/adj.exc
/index.adj
/index.adv
/index.noun
/index.sense
/index.verb
/log.grind.3.1
/noun.exc
/sentidx.vrb
/sents.vrb
/verb.Framestext
/verb.exc
/cousin.exc
/data.adj
/data.adv
/cntlist
/cntlist.rev
/data.noun
/data.verb
/adv.exc
